In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('Final_Report_of_the_Asian_American_Quality_of_Life__AAQoL_.csv')

In [7]:
df

,survey id,age,gender,ethnicity,marital status,education completed,household size,no one,spouse,children,...,other description (non-city-based ethnic),paper (non-city-based general),tv/radio (non-city-based general),website (non-city-based general),social networks (non-city-based general),people (non-city-based general),other (non-city-based general),other description (non-city-based general),preferred type,concerns
0,80314,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60171,60.0,Male,Chinese,Married,13.0,6.0,0,0,Living with children,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011601,23.0,Female,Chinese,Single,16.0,3.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,email,traffic
3,50046,73.0,Female,Chinese,Other,13.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10494,29.0,Male,Asian Indian,Single,17.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40223,70.0,Female,Other,Single,17.0,5.0,0,0,Living with children,...,NaN,Yes,No,Yes,No,Yes,No,NaN,newsletter,NaN
2605,10330,68.0,Male,Other,Married,17.0,2.0,0,Living with spouse,0,...,NaN,No,Yes,No,No,Yes,No,NaN,email,NaN
2606,11081000,76.0,Female,Filipino,Single,13.0,7.0,0,0,Living with children,...,0,No,No,No,No,No,No,0,mail,traffic
2607,10953000,50.0,Male,Filipino,Single,17.0,4.0,0,Living with spouse,0,...,NaN,No,No,Yes,No,No,No,NaN,website,NaN
2608,10945000,21.0,Female,Filipino,Single,14.0,7.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,newspaper,traffic

In [8]:
new_colnames = [i.lower() for i in df.columns]
asians = df.copy()
df.columns = new_colnames
asians

,survey id,age,gender,ethnicity,marital status,education completed,household size,no one,spouse,children,...,other description (non-city-based ethnic),paper (non-city-based general),tv/radio (non-city-based general),website (non-city-based general),social networks (non-city-based general),people (non-city-based general),other (non-city-based general),other description (non-city-based general),preferred type,concerns
0,80314,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60171,60.0,Male,Chinese,Married,13.0,6.0,0,0,Living with children,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011601,23.0,Female,Chinese,Single,16.0,3.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,email,traffic
3,50046,73.0,Female,Chinese,Other,13.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10494,29.0,Male,Asian Indian,Single,17.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40223,70.0,Female,Other,Single,17.0,5.0,0,0,Living with children,...,NaN,Yes,No,Yes,No,Yes,No,NaN,newsletter,NaN
2605,10330,68.0,Male,Other,Married,17.0,2.0,0,Living with spouse,0,...,NaN,No,Yes,No,No,Yes,No,NaN,email,NaN
2606,11081000,76.0,Female,Filipino,Single,13.0,7.0,0,0,Living with children,...,0,No,No,No,No,No,No,0,mail,traffic
2607,10953000,50.0,Male,Filipino,Single,17.0,4.0,0,Living with spouse,0,...,NaN,No,No,Yes,No,No,No,NaN,website,NaN
2608,10945000,21.0,Female,Filipino,Single,14.0,7.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,newspaper,traffic

In [9]:
empty = asians.isnull()
empty_rows = empty.any(axis = 1)
asians[empty_rows]

,survey id,age,gender,ethnicity,marital status,education completed,household size,no one,spouse,children,...,other description (non-city-based ethnic),paper (non-city-based general),tv/radio (non-city-based general),website (non-city-based general),social networks (non-city-based general),people (non-city-based general),other (non-city-based general),other description (non-city-based general),preferred type,concerns
0,80314,NaN,NaN,Vietnamese,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60171,60.0,Male,Chinese,Married,13.0,6.0,0,0,Living with children,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1011601,23.0,Female,Chinese,Single,16.0,3.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,email,traffic
3,50046,73.0,Female,Chinese,Other,13.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10494,29.0,Male,Asian Indian,Single,17.0,1.0,Living with no one,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40223,70.0,Female,Other,Single,17.0,5.0,0,0,Living with children,...,NaN,Yes,No,Yes,No,Yes,No,NaN,newsletter,NaN
2605,10330,68.0,Male,Other,Married,17.0,2.0,0,Living with spouse,0,...,NaN,No,Yes,No,No,Yes,No,NaN,email,NaN
2606,11081000,76.0,Female,Filipino,Single,13.0,7.0,0,0,Living with children,...,0,No,No,No,No,No,No,0,mail,traffic
2607,10953000,50.0,Male,Filipino,Single,17.0,4.0,0,Living with spouse,0,...,NaN,No,No,Yes,No,No,No,NaN,website,NaN
2608,10945000,21.0,Female,Filipino,Single,14.0,7.0,0,0,0,...,NaN,No,No,No,No,Yes,No,NaN,newspaper,traffic

In [21]:
asians["retired"].replace({"Retired": 1}, inplace=True)
asians["retired"] = asians["retired"].astype(float, errors='raise')
asians.retired

0       NaN
1       1.0
2       0.0
3       1.0
4       0.0
       ...
2604    1.0
2605    1.0
2606    0.0
2607    0.0
2608    0.0
Name: retired, Length: 2609, dtype: float64

In [16]:
asians["us born"].replace({"No": 0, "Yes": 1}, inplace=True)
print(asians["us born"])

0       NaN
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2604    0.0
2605    0.0
2606    0.0
2607    0.0
2608    1.0
Name: us born, Length: 2609, dtype: float64

In [20]:
asians.retired

0       NaN
1         1
2         0
3         1
4         0
       ...
2604      1
2605      1
2606      0
2607      0
2608      0
Name: retired, Length: 2609, dtype: object